---
export interface Props {
  certificationPosition: string;
  authority: string;
  dateStarted: string;
  dateEnded: string;
  descriptionPoints: string[];
}

const {
  certificationPosition,
  authority,
  dateStarted,
  dateEnded,
  descriptionPoints,
} = Astro.props;
---

<div class="certificate-card-outer">
  <div class="certificate-card">
    <div class="certificate-position">{certificationPosition}</div>
    <div class="authority">
      {authority}
    </div>
    <p class="date-info">{`${dateStarted} - ${dateEnded}`}</p>
    <ul class="description-points">
      {
        descriptionPoints.map((item: string) => {
          return <li>{item}</li>;
        })
      }
    </ul>
  </div>
  <div><i class="fa-solid fa-award certificate-icon"></i></div>
</div>

<style>
  .certificate-card-outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: 0.3s opacity ease-in-out;
    background-color: var(--shade2);
    padding: 32px;
    opacity: 0.8;
    border-radius: 24px;
    border: 1px solid var(--shade2);
    row-gap: 24px;
  }
  .certificate-card {
    display: flex;
    flex-direction: column;

    column-gap: 16px;
    width: 70%;
  }
  .certificate-card-outer:hover {
    opacity: 1;
  }
  .certificate-position {
    font-family: var(--font-bold);
    color: var(--shade4);
    font-size: 30px;
    margin: 0px;
    font-weight: 600;
  }
  .authority {
    font-family: var(--font-bold);
    color: var(--shade4);
    font-size: 26px;
    margin: 0px;
    font-weight: 600;
  }
  .company-link {
    text-decoration: none;
  }
  .date-info {
    font-family: var(--font-light);
    color: var(--shade4);
    font-size: 16px;
    margin: 0px;
    padding: 16px 0px;
    text-transform: uppercase;
  }
  .description-points {
    font-family: var(--font-light);
    color: var(--shade4);
    font-size: 16px;
    padding: 0px 0px 0px 15px;
    opacity: 0.8;
    list-style: circle;
    line-height: 150%;
  }
  .certificate-icon {
    font-size: 64px;
    color: var(--shade3);
  }
  @media screen and (max-width: 600px) {
    .certificate-card-outer {
      flex-direction: column;
    }
    .certificate-card {
      display: flex;
      flex-direction: column;

      column-gap: 16px;
      width: 100%;
    }
    .certificate-position {
      font-size: 28px;
    }
    .authority {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 340px) {
    .skill-card {
      padding: 24px;
    }
    .certificate-position {
      font-size: 23px;
    }
    .authority {
      font-size: 20px;
    }
  }
</style>
