---
export interface Props {
	jobPosition: string;
	companyName: string;
	companyLink: string;
	dateStarted: string;
	dateEnded: string;
	descriptionPoints: string[];
}

const {
	jobPosition,
	companyLink,
	companyName,
	dateStarted,
	dateEnded,
	descriptionPoints,
} = Astro.props;
---

<div class="experience-card-outer">
	<div class="experience-card">
		<div class="job-position">{jobPosition}</div>
		{
			companyLink ? (
				<a
					class="company-link"
					href={companyLink || "#"}
					target="_blank"
				>
					<div class="company-name">{companyName}</div>
				</a>
			) : (
				<div class="company-name">{companyName}</div>
			)
		}
		<p class="date-info">{`${dateStarted} - ${dateEnded}`}</p>
		<ul class="description-points">
			{
				descriptionPoints.map((item: string) => {
					return <li set:html={item} />;
				})
			}
		</ul>
	</div>
	<div><i class="fa-solid fa-code code-icon"></i></div>
</div>

<style>
	.experience-card-outer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		transition: 0.3s opacity ease-in-out;
		background-color: var(--shade2);
		padding: 32px;
		opacity: 0.8;
		border-radius: 24px;
		border: 1px solid var(--shade2);
		row-gap: 24px;
	}
	.experience-card {
		display: flex;
		flex-direction: column;

		column-gap: 16px;
		width: 70%;
	}
	.experience-card-outer:hover {
		opacity: 1;
	}
	.job-position {
		font-family: var(--font-bold);
		color: var(--shade4);
		font-size: 30px;
		margin: 0px;
		font-weight: 600;
	}
	.company-name {
		font-family: var(--font-bold);
		color: var(--shade4);
		font-size: 26px;
		margin: 0px;
		font-weight: 600;
	}
	.company-link {
		text-decoration: none;
	}
	.date-info {
		font-family: var(--font-light);
		color: var(--shade4);
		font-size: 16px;
		margin: 0px;
		padding: 16px 0px;
		text-transform: uppercase;
	}
	.description-points {
		font-family: var(--font-light);
		color: var(--shade4);
		font-size: 16px;
		padding: 0px 0px 0px 15px;
		opacity: 0.8;
		list-style: circle;
		line-height: 150%;
	}
	.code-icon {
		font-size: 64px;
		color: var(--shade3);
	}
	@media screen and (max-width: 600px) {
		.experience-card-outer {
			flex-direction: column;
		}
		.experience-card {
			display: flex;
			flex-direction: column;

			column-gap: 16px;
			width: 100%;
		}
		.job-position {
			font-size: 28px;
		}
		.company-name {
			font-size: 25px;
		}
	}
	@media screen and (max-width: 340px) {
		.skill-card {
			padding: 24px;
		}
		.job-position {
			font-size: 23px;
		}
		.company-name {
			font-size: 20px;
		}
	}
</style>
